html {
  box-sizing: border-box;
  font-family: karla;
  font-size: 16px;
}

h2, h4, h5, p {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#card {
  box-shadow: 1px 0px 17px -4px rgba(0,0,0,0.69);
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;  
}

#top-section {
  width: 100%;
  height: 45%;
  padding: 30px;
}

#bottom-section {
  width: 100%;
  height: 55%;
  color: white;
}

#bottom-left-section {
  width: 100%;
  height: 100%;
  background-color: #2ab2af;
  display: inline-block;
  padding: 30px;
  vertical-align: top;
}

#bottom-right-section {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 30px;
  background-color: #2EBFBD; 
}

#top-section h2 {
  color: #2ab2af;
  margin-bottom: 20px;
}

#top-section h4 {
  color: #c0df34;
  margin-bottom: 10px;
}

#top-section p {
  color: #98a6bd;
  opacity: 0.85;
  font-size: 15px;
}
button {
  background-color: #c0df34;
  color: white;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #A9C42D;
  transform: scale(1.02);
}

#bottom-right-section li {
  font-size: 0.8rem;
  opacity: 0.7;
}

#price {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px
}

#price-frequency {
  display: inline-block;
  font-size: 0.7rem;
  opacity: 0.6;
  position: relative;
  top: -3px;
  margin-left: 4px;
}

#rate {
  font-size: 0.7rem;
  opacity: 0.8;
  margin-bottom: 20px;
}

#bottom-left-section h4 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

@media (min-width: 576px) {
  #card {
    width: 550px;
    height: 400px;
  }
  
  #bottom-left-section, #bottom-right-section {
    width: 50%;
  }
}


